@model List<ToDoGraphDemo.Models.ToDo>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Todos</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
</head>
<body style="padding:50px">
    <h3>@ViewBag.Name Todos:</h3>
    <table class="table table-striped table-hover table-condensed" style="width: auto">
        <tr><td><b>Task</b></td><td><b>Done</b></td><td></td><td></td></tr>
        @foreach (var todo in Model)
        {
            <tr>
                <td>@todo.Task</td>
                <td>
                    @if (todo.Done)
                    {
                        <img src="~/Content/done.png" height="30" width="30" />
                    }
                    else
                    {
                        <img src="~/Content/notdone.png" height="30" width="30" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("Update", "ToDo"))
                    {
                        @Html.Hidden("Task", todo.Task)
                        @Html.Hidden("Done", !todo.Done)
                        if (todo.Done)
                        {
                            <input type="submit" value="Undo" class="btn btn-default" />
                        }
                        else
                        {
                            <input type="submit" value="Done" class="btn btn-default" />
                        }
                    }
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "ToDo"))
                    {
                        @Html.Hidden("Task", todo.Task)
                        @Html.Hidden("Done", todo.Done)
                        <input type="submit" value="Delete" class="btn btn-default" />
                    }
                </td>
            </tr>
        }
    </table>

    @Html.ActionLink("New", "New", "ToDo", null, new { @class = "btn btn-primary" })
</body>
</html>

